.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 78px 60px 230px 80px;
  display: flex;
  justify-content: space-between;
  &__logo {
    width: auto;
    transition: transform 400ms $cubic;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__btn {
    width: 135px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid $Pink;
    font-weight: 400;
    text-transform: capitalize;
    font-family: $font-family-Open;
    color: $Pink;
    background-color: transparent;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: border 400ms $cubic, color 400ms $cubic;
    &:focus,
    &:hover {
      border: 2px solid $Light-Pink-alfa;
      color: $Light-Pink-alfa;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    max-width: 375px;
    padding: 25px 25px 118px 25px;
    &__logo {
      height: 20px;
    }
    &__btn {
      width: 80px;
      font-size: 10px;
    }
  }
}
