$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Pink-alfa: hsla(321, 100%, 78%, 0.6);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Dark-Cyan-alfa: hsla(192, 100%, 9%, 0.9);
$Very-Dark-Cyan-alfa2: hsla(192, 100%, 9%, 0.5);
$Very-Dark-Cyan-alfa3: hsla(190, 94%, 50%, 0.958);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$White: #fff;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-Open: "Open Sans", sans-serif;
$font-family-Poppins: "Poppins", sans-serif;
